/* Seteo del sistema*/
*
    {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
   
/* Barra de navegación*/

li, ul 
    {
        list-style: none;
        list-style-type: none;
        display: inline;
        margin: 10px;

        &:hover 
        {
            list-style: none;
            text-decoration:underline 3px; 
            color: #B7AF90;
            margin: 2vh;
        }

        a 
        {
            display: inline;
            color: #d9d9db;
            margin: 1vh;

            &:hover
            {
                color: #B7AF90;
            }           
        }
    }

a
    {
        list-style: none;
        text-decoration: none;
        color:#d9d9db;
    }

    header
    {
            background-color: #121210;
            display: inline-flex;
            flex-direction: column;
            justify-content:space-around;
            padding: 25px;
            align-items: center;
            width: 100%;
            top:0; 
            gap: 2rem;  
        img 
        {   
            width: 80px;   
        }
    }
/*Primer breakpoint 480px aplicado al header*/

    @media (min-width:480px)
    {
        header
        {   
            display: flex;
            flex-direction: row;
        }
        .imagenheader
        {   
            width: 60px;   
        }
    } 


/*footer*/

footer
    {
        display: flex;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        width: 100%;
        background-color:#121210;
        padding: 25px;
        align-items: end;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        p 
        {      
            text-align: center; 
            color: #d9d9db;
            margin: 1vh;
        }
    }
   

body{
    width: 100%;
    height: 100%;
}
/*---------------------------
Hoja de estilo de la pagina de inicio*/

    .primerarticulo
    {   
        display:flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        padding: 25px;
        background-image: url("../img/background1.jpg.png");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        gap:2rem;
        height: 100vh;
        
        h1
        {
            font-family: roboto;
            font-size: 48px;
            margin-bottom: -1px; 
            font: style 1px;
            font-weight: 600;
        }
       
        .espacioboton        
        {
            padding: 10px 30px;
            background-color: #111110;
            color: #d9d9db;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            list-style: none;
            text-decoration: none;
                
                &:hover
                {
                    padding: 5px 20px;
                    background-color: #978F84; 
                    border-radius: 8px;
                    padding: 10px 30px;
                   
                    a 
                    {
                        list-style: none;
                        text-decoration: none;
                        color: #111110;
                    }
                }
                
                
        }       

            
        .espacioboton
        {
            display:flex;
            margin-top: 25px;
            gap: 25px;




            .redes-sociales
            {
                margin-top: 25px;
                display: flex;
                gap:25px;
            }
        }  
    }


.redes-sociales
    {
        margin-top: 25px;
        display: flex;
        gap:25px;
        &:hover{

            margin: none;

        }
    }

/*Hoja de estilo de hoja acerca de:*/

    .acercade
        {   
            
            display: flex;
            flex-direction: column;
            padding: 5px;
            justify-content:center;
            align-items: center;
            text-align:center;
            gap: 3rem;
            background-color: #4a362f;
            height: 100vh;
            
            img 
            {
                width: 150px;
            }

            h1
            {
            color: azure;
            padding-bottom:25px;
            }

            p
            {
            margin-bottom: 15px;
            color: azure;
            text-align:center;
            }
        }
   

        @media (min-width:768px)
        {
            .acercade
            {
                flex-direction:row;
                height: 100vh;
            }

            .acercade p
            {
                align-items: center;
                justify-content: center;
                text-align: left;
                gap: 5px;
                margin-bottom: 15px;
                margin-left: 50px;
                margin-right: 50px;
            }
        }


/*Hoja de estilos para la pagina del resumen*/

/*primer articulo de la pagina resumen*/

    .articulo1
    {
        display:flex;
        flex-direction: column;
        padding: 2rem;   
        background-color: #B7AF90; 
        width: 100%;
        height: 100%;
        padding: 3rem;
        
        .seccion1 
        
        {
        margin-left:15px;
        justify-content: space-around;

            h2
            {
                text-align: center;
                padding: 15px;
            }
            h4
            {
                padding: 15px;
            }

            p
            {
                padding: 15px;
                justify-content: center;
            }

            li
            {
            text-align: center;
            justify-content: center;
            }
            li lu 
            {
                color:#111110;

                &:hover
                    {
                    list-style: none;
                    text-decoration:none; 
                    color: none;
                    margin: none;
                    padding: 0;
                    }
            }

            .skill1
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding:5px; 
                gap:3rem; 
                img
                {
                    width: 20px;
                }        
            }
            .skill2
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding:5px;          
            }

            .skill3
            {
                display: flex;
                gap:1rem;
                align-items: center;
                padding:5px; 
                justify-content: space-between;
                flex-direction: row;         
                flex-wrap: wrap;
            }

        }  

        /*segundo articulo Pagina de resumen*/

        .articulo2
        {
            display:flex;
            flex-direction: column; 
            padding-bottom: 15px; 
            padding: 2rem;  
            background-color: #d9d9db;
            opacity: 0.7;

            h2
            {
                text-align: center;
                h4
                {
                    padding: 10px;
                    p
                    {
                        padding: 10px;
                        justify-content: center;
                    }
                }            
            }  
            
            /*etiqueta realizada para el espaciado de el titulo de educación*/
    
            .titulo2
            {
                padding-top: 2rem;
            }   
        }

        /*tercer articulo Pagina de resumen*/

        .articulo3

        {
            display:flex;
            flex-direction: column; 
            align-items: center;
            justify-content: space-around;
            padding-bottom: 15px; 
            padding: 2rem;
            
            p
            {
                padding: 10px;
                justify-content: center;
            }
            h2
            {
                padding: 10px;
                justify-content: center;
                text-align: center;
            }
        }
    }

    @media (min-width: 768px)
        
    {
        .seccion1
        {
            flex-direction: row;
            justify-content: space-around;
            position: static;
            height: 98vh;

        }
    
        .articulo1
        {
            display: grid;
            grid-template-columns: 30% 40% 30%;
            gap:10px;
            justify-content: space-evenly;
            align-items: center;
            
        }
        .articulo1 h2
        {
            padding-bottom: 15px;
            padding-top: 15px;
        }

        /*Responsive articulo 2*/

        .articulo2
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .titulo2
        {
            padding: 0px;
            top: 0px;
            margin: 0px;
        }

        /*Responsive articulo 3*/

        .articulo3
        {
            height: 95vh;
        }
       
        .seccion3
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        
        .articulo3 h2
        
        {
            margin: 0px;
            padding: 0px;
        }

        .hobbie
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:2rem;
            justify-content: center;
        }

        h2
        {
            margin-bottom: 5px;
            margin-top:5px;
        }
            
    }
            

    
