
@mixin boton()

{
    display:flex;
    border:none;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    background-color:#e3627f;
    color:white;
    font-weight:bold;
    padding: 0.2rem 10%;
    cursor:pointer;
    text-align: center;
    transition: transform 0.3s ease;

        &:hover
        {
            transform: scale(1.1);
            color: $color-6;
            a
            {
                color: $color-6;
            }
        }
}

